// Body
$body-bg: #f8fafc;
$eDarkBrown: #1f1009;
$darkBrown: #2a160c;
$coffee: #2b170b;
$footer: #512814;
$brown: #99592a;
$white: white;
$red: #790c0c;
$redOnHover: #660b0b;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
