$eDarkBrown: #1f1009;
$darkBrown: #2a160c;
$coffee: #2b170b;
$footer: #512814;
$brown: #99592a;
$white: white;
$red: #790c0c;
$redOnHover: #660b0b;

body {
    background-color: $white;
    font-family: Poppins;
    font-size: 16px;
}

.logo-img {
    background-image: url("../img/bloom-high-resolution-logo-color-on-transparent-background.png");
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 720px) {
    .logo-img {
        width: 75px;
        height: 75px;
    }
    .img-1 {
        box-shadow: none !important;
    }
}

.white-logo {
    background-image: url("../img/bloom-high-resolution-logo-white-on-transparent-background.png");
}

@include media-breakpoint-up(lg) {
    nav.navbar {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    a.nav-link:hover {
        border-bottom: 2px solid $brown;
    }

    .divider {
        background-image: url("../img/rose.svg");
        background-repeat: no-repeat;
        height: 185px !important;
        background-size: 210px;
        background-position: top;
    }
}

.navbar {
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 8px;
}

.active {
    color: $redOnHover;
}

.navbar-brand {
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand-mobile {
    flex: 1;
    text-align: -webkit-center;
    padding-top: 26px;
    padding-bottom: 10px;
}

.navbar-cart {
    background-color: transparent;
    border: none;
    padding: var(--bs-navbar-toggler-padding-y)
        var(--bs-navbar-toggler-padding-x);
}

.navbar-toggler {
    border: none;
}

#navbarSupportedContent {
    justify-content: space-around;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: uppercase;
    padding: 30px;
    max-width: 100%;
    width: 100%;
    text-align: center;
}
//footer

.foot {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $darkBrown;
    color: white;
    text-align: center;
    top: 75px;
}

footer {
    padding: 2rem 0;
    background-color: $footer;

    .nav-link {
        padding: 0.1rem 0;
    }
    .nav-link {
        color: $white;
    }
    .nav-link:hover {
        font-weight: bold;
        color: white;
        border: none;
    }
    a {
        color: $white;
        text-decoration: underline;

        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}

.footer-column {
    text-align: center;
}

.footer-title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #2f1c0ea3;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: $coffee;
}

footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
}

.copyright {
    color: white;
}

.fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
}

.divider {
    height: 25px;
}

.row.align {
    justify-content: space-evenly;
}

.carousel-caption {
    bottom: 48%;
    left: 15%;
    top: 30%;
    font-size: 25px;
    backdrop-filter: blur(5px);
    & > h5 {
        font-size: 60px;
        font-family: "Dancing Script";
    }
}

.inner-text-card {
    font-size: 22px;
    padding-left: 8px;
}

@media (max-width: 1220.98px) {
    .inner-text-card {
        font-size: 18px;
        padding-left: 8px;
    }
    .text-carousel {
        font-weight: bolder;
        font-size: 45px;
        padding-left: 12px;
    }
    .carousel-card {
        height: 250px;
        width: 60%;
    }
}

.card-img-top {
    height: 450px;
}

.card {
    padding-left: 0px;
    padding-right: 0px;
    width: 22rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 5px 15px;
    border: none;
    &:hover {
        scale: 105%;
    }
}

.card-body {
    background-color: white;
}

@media (max-width: 1400px) {
    .about-us {
        font-size: 14px;
    }
    .card {
        width: 22rem !important;
    }
    .carousel-caption {
        bottom: 48%;
        font-size: 20px;
        & > h5 {
            font-size: 45px;
        }
    }
}

@media (max-width: 1200px) {
    .about-us {
        font-size: 14px;
    }
    .card {
        width: 19rem !important;
    }
    .carousel-caption {
        bottom: 44%;
    }
}

@media (max-width: 576px) {
    body,
    #button-addon2,
    .btn-primary,
    .about-us {
        font-size: 14px !important;
    }
    .form-control {
        font-size: 16px;
    }
    .input-group.mb-3 {
        box-shadow: none !important;
    }
    .card {
        box-shadow: none !important;
        &:hover {
            scale: none;
        }
    }
    .title {
        font-size: 46px !important;
    }
    .card-img,
    .card-img-top,
    .img-1 {
        border-radius: 0 !important;
    }
    .card-img-top {
        height: 400px !important;
    }
    .nl-text,
    .desc-sub {
        text-align: center;
    }
    .occasion-text {
        padding: 0px !important;
    }
}

.container {
    padding-top: 3rem;
}

.btn-primary {
    background-color: $red;
    border-color: $red;
    text-transform: uppercase;
    &:hover,
    &:active {
        background-color: $redOnHover !important;
        border-color: $redOnHover !important;
    }
}

.star {
    background-image: url("../img/star-fill.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2px;
    filter: invert(12%) sepia(36%) saturate(6648%) hue-rotate(351deg)
        brightness(89%) contrast(100%);
}

.stars {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.testimonial {
    background-color: $brown;
    color: white;
}

.review {
    height: fit-content;
    font-weight: 400;
    line-height: 2;
}

.reviews {
    border: 1px solid $brown;
    border-radius: 5px;
    background-color: $brown;
}

.client-name {
    text-transform: uppercase;
    font-size: 16px;
}

.vr {
    padding-right: 0px;
    align-self: center;
    height: 250px;
}

.img-1 {
    background-image: url("../img/1-mobile.jpg");
    width: 100%;
    height: 513px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 12%) 0px 5px 15px;
    transition: 0.6s linear;
    &:hover {
        background-image: url("../img/2-mobile.jpg");
        transition: 0.6s linear;
    }
}

.desc-roses {
    align-self: center;
}

.list-group-item {
    background-color: white;
    padding: 40px;
    color: black;
    &:hover {
        font-weight: 600;
        box-shadow: rgb(0 0 0 / 12%) 0px 5px 15px;
    }
}

.product {
    height: 350px;
    background-size: cover;
    margin-bottom: 20px;
    background-position: center;
    border-radius: 4px;
    &.seeds {
        background-image: url("../img/seeds.jpg");
    }
    &.flowerpots {
        background-image: url("../img/pots.jpg");
        background-position: 20% 72%;
    }
    &.flowerbox {
        background-image: url("../img/box.jpg");
    }
    &.bestsellers {
        background-image: url("../img/1.jpg");
        background-position: 86%;
    }
    & > .outer-span {
        position: absolute;
        transform: translate(-70px, 140px);
        width: 150px;
        background-color: white;
        font-size: 18px;
        padding: 20px;
        font-weight: 500;
    }
    & > .outer-span > .inner-span {
        font-size: 17px;
        text-transform: uppercase;
        color: $red;
        font-weight: 400;
    }
    &:hover {
        box-shadow: rgb(0 0 0 / 12%) 0px 5px 15px;
        color: white !important;
        & > .outer-span {
            background-color: $redOnHover;
        }
        & > .outer-span > .inner-span {
            color: white !important;
        }
    }
}

.bouquet {
    height: 720px;
    background-image: url("../img/buket.jpg");
    background-size: cover;
    border-radius: 4px;
    margin-bottom: 20px;
    & > .outer-span {
        position: absolute;
        transform: translate(-80px, 300px);
        width: 190px;
        background-color: white;
        font-size: 18px;
        padding: 20px;
        font-weight: 500;
    }
    & > .outer-span > .inner-span {
        font-size: 17px;
        text-transform: uppercase;
        color: $red;
        font-weight: 400;
    }
    &:hover {
        box-shadow: rgb(0 0 0 / 12%) 0px 5px 15px;
        color: white !important;
        & > .outer-span {
            background-color: $redOnHover;
        }
        & > .outer-span > .inner-span {
            color: white !important;
        }
    }
}

#background-video {
    width: -webkit-fill-available;
    border-radius: 4px;
}

.video-text {
    position: relative;
    transform: translate(0px, -156px);
    background: white;
    font-weight: 300;
    font-size: 18px;
}

h3,
h4,
h6 {
    color: $red;
}

.about-us {
    line-height: 2;
}

.history,
.subscribe {
    background-color: $brown;
    color: white;
}

.team > .card {
    width: 20rem;
    box-shadow: none;
    border: none;
    &:hover {
        scale: none;
    }
    & > .card-img-top {
        height: auto;
    }
}

#button-addon2 {
    background-color: $red;
    color: white;
    border-color: $red;
    &:hover {
        background-color: $redOnHover;
    }
}

.nl-text {
    font-weight: 500;
}

.social-icons {
    position: relative;
    text-align: center;
    background-color: #790c0ce8;
    border-radius: 4px;
    top: -130%;
    & > .list-inline-item {
        padding: 5px;
        & > a {
            color: white;
        }
    }
    & > .list-inline-item:not(:last-child) {
        margin-right: 2.5rem;
    }
}

.scale:hover {
    scale: 1.2;
}

.form-control:focus {
    border-color: $red;
    outline: 0;
    box-shadow: rgb(0 0 0 / 12%) 0px 5px 15px;
}
a {
    color: black;
    text-decoration: none;
}

.line-up {
    animation: 3s anim-line-up ease-out;
}
@keyframes anim-line-up {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.reveal {
    opacity: 0;
}
.reveal.animation-active {
    opacity: 1;
}
.animation-active.fade-bottom {
    animation: fade-bottom 0.8s ease-in;
}
.animation-active.fade-left {
    animation: fade-left 0.8s ease-in;
}
.animation-active.fade-right {
    animation: fade-right 0.8s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .reveal {
        opacity: 1;
    }
    .reveal.animation-active {
        opacity: 1;
    }
    .animation-active.fade-bottom {
        animation: fade-bottom 0s ease-in;
    }
    .animation-active.fade-left {
        animation: fade-left 0s ease-in;
    }
    .animation-active.fade-right {
        animation: fade-right 0s ease-in;
    }
    .stars.mobile {
        border-top: 2px solid white;
    }
    .carousel-caption {
        font-size: 16px;
        bottom: 41%;
        & > h5 {
            font-size: 37px;
            margin-bottom: 0rem;
        }
    }
}

.cookies-eu-banner {
    background: #000000b5;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

button {
    transition: background 0.8s, color 0.8s, border-color 0.07s;
}

.cookies-eu-banner button {
    text-transform: capitalize;
}
.input-group.mb-3 {
    box-shadow: rgb(0 0 0 / 12%) 0px 5px 15px;
}

.title {
    font-family: dancing script;
    font-weight: 700;
    text-transform: capitalize !important;
    font-size: 50px;
}

.desc-sub {
    font-size: 24px;
    font-weight: 600;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}

.terms {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}

.active-nav {
    font-weight: 600;
}

.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1200;
    transition: all 2s ease;
}

.fade-out-animation {
    opacity: 0;
    visibility: hidden;
}

.spinner-border {
    background-image: url("../img/bloom-high-resolution-logo-white-on-transparent-background.png");
    background-size: 100%;
    width: 6rem !important;
    height: 6rem !important;
    border: none !important;
    --bs-spinner-animation-speed: 3.75s !important;
}

.image {
    height: 450px;
    background-size: cover;
    margin-bottom: 20px;
    background-position: center;
    border-radius: 4px;
    &.wedding {
        background-image: url("../img/elegant.jpg");
        &:hover {
            background-image: url("../img/wedding-2.jpg");
        }
    }
    &.birthday {
        background-image: url("../img/birthday-2.jpg");
        &:hover {
            background-image: url("../img/birthday.jpg");
        }
    }
    &.graduation {
        background-image: url("../img/graduation-2.jpg");
    }
    &.anniversary {
        background-image: url("../img/ani.jpg");
        &:hover {
            background-image: url("../img/ani-2.jpg");
        }
    }
    & > .outer-span {
        position: absolute;
        transform: translate(-70px, 170px);
        width: 155px;
        background-color: white;
        font-size: 20px;
        padding: 20px;
        font-weight: 500;
    }
    & > .outer-span > .inner-span {
        font-size: 17px;
        text-transform: uppercase;
        color: $red;
        font-weight: 400;
    }
}
.occasion-text {
    text-align: justify;
    line-height: 2;
}