$eDarkBrown: #1f1009;
$darkBrown: #2a160c;
$coffee: #2b170b;
$footer: #512814;
$brown: #99592a;
$white: white;
$red: #790c0c;
$redOnHover: #660b0b;

body {
    background-color: $white;
    font-family: Poppins;
}

.logo-img {
    background-image: url("../img/bloom-high-resolution-logo-color-on-transparent-background.png");
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 720px) {
    .logo-img {
        width: 75px;
        height: 75px;
    }
}

.white-logo {
    background-image: url("../img/bloom-high-resolution-logo-white-on-transparent-background.png");
}

@include media-breakpoint-up(lg) {
    nav.navbar {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    a.nav-link:hover {
        border-bottom: 2px solid $brown;
    }

    .divider {
        background-image: url("../img/rose.svg");
        background-repeat: no-repeat;
        height: 185px !important;
        background-size: 210px;
        background-position: top;
    }
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a.nav-link:hover {
    font-weight: 600;
}

.active {
    color: $redOnHover;
}

.navbar-brand {
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand-mobile {
    flex: 1;
    text-align: -webkit-center;
    padding-right: 52px;
    padding-top: 26px;
    padding-bottom: 10px;
}

.navbar-toggler {
    border: none;
}

#navbarSupportedContent {
    justify-content: space-around;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: uppercase;
    padding: 30px;
    max-width: 100%;
    width: 100%;
    text-align: center;
}
//footer

.foot {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $darkBrown;
    color: white;
    text-align: center;
    top: 75px;
}

footer {
    padding: 2rem 0;
    background-color: $footer;

    .nav-link {
        padding: 0.1rem 0;
    }
    .nav-link {
        color: $white;
    }
    .nav-link:hover {
        font-weight: bold;
        color: white;
        border: none;
    }
    a {
        color: $white;

        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}

.footer-column {
    text-align: center;
}

.footer-title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #2f1c0ea3;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: $coffee;
}

footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
}

.copyright {
    color: white;
}

.fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
}

.divider {
    height: 25px;
}

.row.align {
    justify-content: space-evenly;
}

.text-carousel {
    font-weight: bolder;
    font-size: 72px;
    padding: 8px;
}

.carousel-card {
    top: 25%;
    left: 14%;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    border: 1px solid transparent;
    height: 350px;
    width: 55%;
    position: absolute;
    color: $white;
}

.inner-text-card {
    font-size: 20px;
    padding: 8px;
}

@media (max-width: 1030.98px) {
    .inner-text-card {
        font-size: 14px;
        padding: 8px;
    }
    .text-carousel {
        font-weight: bolder;
        font-size: 45px;
        padding: 12px;
    }
    .carousel-card {
        height: 250px;
    }
}

.card-img-top {
    height: 400px;
}

.card {
    padding-left: 0px;
    padding-right: 0px;
    width: 22rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &:hover {
        scale: 105%;
    }
}

@media (max-width: 1200px) {
    .card {
        width: 20rem;
    }
}

.container {
    padding-top: 3rem;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-primary {
    background-color: $red;
    border-color: $red;
    text-transform: uppercase;
    &:hover {
        background-color: $redOnHover;
        border-color: $redOnHover;
    }
}

.desc {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
}

.star {
    background-image: url("../img/star-fill.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2px;
    filter: invert(12%) sepia(36%) saturate(6648%) hue-rotate(351deg)
        brightness(89%) contrast(100%);
}

.stars {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.testimonial {
    background-color: $brown;
    color: white;
}

.review {
    height: fit-content;
    font-weight: 400;
    line-height: 2;
}

.reviews {
    border: 1px solid $brown;
    border-radius: 5px;
    background-color: $brown;
}

.client-name {
    text-transform: uppercase;
    font-size: 16px;
}

.vr {
    padding-right: 0px;
    align-self: center;
    height: 250px;
}

.img-1 {
    background-image: url("../img/1-mobile.jpg");
    width: 100%;
    height: 513px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 4px;
}

.desc-roses {
    align-self: center;
}

.list-group-item {
    background-color: white;
    padding: 40px;
    color: black;
    &:hover {
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
}

.product {
    height: 350px;
    background-size: cover;
    margin-bottom: 20px;
    background-position: center;
    border-radius: 4px;
    &.seeds {
        background-image: url("../img/seeds.jpg");
    }
    &.flowerpots {
        background-image: url("../img/pots.jpg");
        background-position: 20% 72%;
    }
    &.flowerbox {
        background-image: url("../img/box.jpg");
    }
    &.bestsellers {
        background-image: url("../img/1.jpg");
        background-position: 86%;
    }
    & > .outer-span {
        position: absolute;
        transform: translate(-70px, 140px);
        width: 150px;
        background-color: white;
        font-size: 18px;
        padding: 20px;
        font-weight: 500;
    }
    & > .outer-span > .inner-span {
        font-size: 17px;
        text-transform: uppercase;
        color: $red;
        font-weight: 400;
    }
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: white !important;
        & > .outer-span {
            background-color: $redOnHover;
        }
        & > .outer-span > .inner-span {
            color: white !important;
        }
    }
}

.bouquet {
    height: 720px;
    background-image: url("../img/buket.jpg");
    background-size: cover;
    border-radius: 4px;
    margin-bottom: 20px;
    & > .outer-span {
        position: absolute;
        transform: translate(-80px, 300px);
        width: 190px;
        background-color: white;
        font-size: 18px;
        padding: 20px;
        font-weight: 500;
    }
    & > .outer-span > .inner-span {
        font-size: 17px;
        text-transform: uppercase;
        color: $red;
        font-weight: 400;
    }
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: white !important;
        & > .outer-span {
            background-color: $redOnHover;
        }
        & > .outer-span > .inner-span {
            color: white !important;
        }
    }
}

#background-video {
    width: -webkit-fill-available;
    border-radius: 4px;
}

.video-text {
    position: relative;
    transform: translate(0px, -156px);
    background: white;
    font-weight: 300;
    font-size: 18px;
}

h3, h6 {
    color: $red;
}

.about-us {
    line-height: 2;
}

.history {
    background-color: $brown;
    color: white;
}

.team > .card {
    width: 24rem;
    box-shadow: none;
    border: none;
    &:hover {
        scale: none;
    }
    & > .card-img-top {
        height: auto;
    }
}

#button-addon2 {
    background-color: $red;
    color: white;
    border-color: $red;
    &:hover {
        background-color: $redOnHover;
    }
}

.nl-text {
    font-weight: 500;
    font-size: 18px;
}